<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>

    <ion-buttons slot="end">
      <ion-button size="small" expand="block" color="primary" strong="true">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label>
          Edit
        </ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card *ngIf="loggedInUser">
    <img src="/assets/images/male.png" style="background-color: whitesmoke" width="50%" height="50%">
    <ion-card-header>
      <ion-card-subtitle>{{ loggedInUser.address }}</ion-card-subtitle>
      <ion-card-title>{{ loggedInUser.city }}, {{ loggedInUser.country }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="format_input"> 
          <ion-label position="fixed">Name</ion-label>
          <ion-input slot="end" readonly>{{ loggedInUser.name }}</ion-input>
        </ion-item>
        <ion-item class="format_input"> 
          <ion-label position="fixed">Email</ion-label>
          <ion-input slot="end" readonly>{{ loggedInUser.email }}</ion-input>
        </ion-item>
        <ion-item class="format_input">
          <ion-label position="fixed">Gender</ion-label>
          <ion-input slot="end" readonly>{{ loggedInUser.gender == 'm'? 'Male':'Female' }}</ion-input>
        </ion-item>
        <ion-item class="format_input">
          <ion-label position="fixed">Phone</ion-label>
          <ion-input slot="end" readonly>{{ loggedInUser.phoneNumber }}</ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
