<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="loggedInUser">
      <span style="font-size: large">{{ loggedInUser.name }}</span><br>
      <small style="font-size: small">{{ loggedInUser.email }}</small>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button size="small" expand="block" color="primary" strong="true">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label>
          Edit
        </ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="/assets/images/male.png" width="50%" height="50%">
    <ion-card-header *ngIf="loggedInUser">
      <ion-card-subtitle>{{ loggedInUser.address }}</ion-card-subtitle>
      <ion-card-title>{{ loggedInUser.city }}, {{ loggedInUser.country }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
</ion-content>
