
ion-item {
    --background: white;
}

ion-content {
    --background: white;
    --padding-top: 0px;
}

.item_format {
    font-size:14px;
}

.validation-errors {
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.error-message {
    color: red;
    font-size: 12px;
}
