<ion-header translucent>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissRegister()">Close</ion-button>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding fullscreen>
  <form [formGroup]="registerFormGroup"> 
    <ion-item>
        <ion-label position="floating">First Name <small style="color: red">*</small></ion-label>
        <ion-input formControlName="name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Email <small style="color: red">*</small></ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
  
    <ion-item>
        <ion-label position="floating">Country <small style="color: red">*</small></ion-label>
        <ion-input formControlName="country"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Gender <small style="color: red">*</small></ion-label>
      <ion-select interface="popover" formControlName="gender">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label position="floating">City <small style="color: red">*</small></ion-label>
        <ion-input formControlName="city"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Address <small style="color: red">*</small></ion-label>
        <ion-input formControlName="address"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Phone Number <small style="color: red">*</small></ion-label>
        <ion-input formControlName="phone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password <small style="color: red">*</small></ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm password</ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
      <span *ngIf="registerFormGroup.hasError('notSame')">
        <small style="color: red">Passwords don't match</small>
      </span>
    </ion-item>
  
    <ion-button type="submit" expand="full" color="danger" (click)="register()"
    [disabled]="!registerFormGroup.valid">
      Register</ion-button>
  </form>
  <p text-center>Already have a account?</p>
  <ion-button expand="full" color="primary" (click)="loginModal()">Login</ion-button>
</ion-content> 