<!-- <ion-header>
  <ion-toolbar>
    <ion-button size="small" slot="end" expand="block" color="warning" strong="true"
      (click)="logout()">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-icon slot="start" name="log-out"></ion-icon>
      <ion-label>
        Logout
      </ion-label>
    </ion-button>
    <ion-title>
      labaPay
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="profile">
        <ion-icon name="contact"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="send">
        <ion-icon name="cash"></ion-icon>
        <ion-label>Send</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="settings">
        <ion-icon name="cog"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
</ion-content>
