
.avatar_background {
    background-color: blue;
}

.avatar_content {
    color: white; 
    font-weight: bolder; 
    margin-top: 9px; 
    margin-left: 6px;
}

ion-content {
    --padding-top: 15px;
}