<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/cards']">
        <ion-ripple-effect></ion-ripple-effect>
        Cancel
      </ion-button>
    </ion-buttons>
    
    <ion-title>Bank Card</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-ripple-effect></ion-ripple-effect>
        Done
      </ion-button> <!-- (click)="newCard()"  --> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<p>In here</p>
</ion-content>
 