<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/cards']">
        <ion-ripple-effect></ion-ripple-effect>
        Cancel
      </ion-button>
    </ion-buttons>

    <ion-title>Bank Card</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" type="submit" (click)="newCard()" [disabled]="!newCardFormGroup.valid">
        <ion-ripple-effect></ion-ripple-effect>
        Done
      </ion-button> <!-- (click)="newCard()"  --> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Credit/Debit Card</ion-label>
    </ion-item-divider>

    <form [formGroup]="newCardFormGroup">
      <ion-item>
        <ion-label position="fixed">Name</ion-label>
        <ion-input type="text" placeholder="John Doe" formControlName="cardHolderName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Number</ion-label>
        <ion-input type="number" placeholder="Required" formControlName="accountNumber"></ion-input>
        
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Expires</ion-label>
        <ion-input type="number" placeholder="MM" formControlName="expiryMonth"></ion-input>
        <ion-input type="number" placeholder="YYYY" formControlName="expiryYear"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">CVV</ion-label>
        <ion-input type="number" placeholder="Security Code" formControlName="securityCode"></ion-input>
      </ion-item>
    </form>
    
  </ion-item-group>

</ion-content>
 