ion-button {
    color: red;
}

ion-item {
    --background: #ffffff;
}

ion-content {
    --padding-end: 0px;
    --padding-start: 0px;
}

.item_format {
    font-size:14px;
}

.item_format > ion-input {
    width: 100%; 
    text-align: right;
}

.item_format > ion-datetime {
    width: 100%; 
    text-align: right;
}

.validation-errors {
    // background-color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.error-message {
    color: red;
    font-size: 12px;
}