<ion-header >
  <ion-toolbar>
    <ion-buttons slot="primary"> 
      <ion-button size="small" expand="block" color="warning" strong="true"
        (click)="logout()" *ngIf="_authService.isLoggedIn">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon slot="start" name="log-out"></ion-icon>
        <ion-label>
          Logout
        </ion-label>
      </ion-button>
    </ion-buttons>
    
    <!-- <ion-title>labaPay</ion-title> -->
    
    <!-- <ion-buttons slot="secondary">  -->
      <!-- <ion-button href="/" routerDirection="/"> 
        <ion-img src="/assets/icon/logo.png"></ion-img> 
      </ion-button> -->
    <!-- </ion-buttons> -->
    
  </ion-toolbar>
</ion-header>
  
<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of profileItems">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
  
