<!-- <ion-header translucent>
  <ion-toolbar> -->
    <!-- <ion-buttons slot="primary"> 
      <ion-button size="small" expand="block" color="warning" strong="true"
        (click)="logout()" *ngIf="_authService.isLoggedIn">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon slot="start" name="log-out"></ion-icon>
        <ion-label>
          Logout
        </ion-label>
      </ion-button>
    </ion-buttons> -->
    
    <!-- <ion-title>labaPay</ion-title> -->
    
    <!-- <ion-buttons slot="secondary">  -->
      <!-- <ion-button href="/" routerDirection="/"> 
        <ion-img src="/assets/icon/logo.png"></ion-img> 
      </ion-button> -->
    <!-- </ion-buttons> -->
    
  <!-- </ion-toolbar>
</ion-header> -->
  
<ion-app>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
  
