<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>

    <ion-buttons slot="end">
      <ion-button size="small" expand="block" color="light" strong="true"
        (click)="logout()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-label style="font-weight: bolder;">
          Logout
        </ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen> 
  
  <ion-item [routerLink]="['/cards']"  button detail lines="full">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-label>
      Banks and Cards
    </ion-label>
  </ion-item>
    
</ion-content>
