ion-item {
    --background: #ffffff;
}

ion-content {
    --offset-bottom: 0px;
    --offset-top: 0px;
    --padding-bottom: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --padding-top: 30px;
}