<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings" text="Settings" color="light"></ion-back-button>
    </ion-buttons>

    <ion-title>Cards</ion-title>

    <ion-buttons slot="end">
      <ion-button size="small" expand="block" strong="true" [routerLink]="['/cards/new']">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon slot="icon-only" name="add" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding fullscreen> 

  <div *ngIf="!cards">
    <ion-item [routerLink]="['/cards/new']"  button detail lines="none" expand="full">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-text color="dark">
        <h5>
          No card has been created yet, tab here to add a new card
        </h5>
      </ion-text>
    </ion-item>
  </div>
  
  <div *ngIf="cards">
    <div *ngFor="let card of cards" class="active-cards">
      <ion-card>
        <ion-list>
          <ion-item-sliding>
            
            <ion-item (click)="goToCardDetail(card)" button detail lines="full" expand="full">
              <ion-ripple-effect type="bounded"></ion-ripple-effect>
              <ion-card-header>
                <ion-card-title style="font-weight: normal; color: black">{{ card.cardHolderName }}</ion-card-title>
                <ion-card-subtitle style="font-weight: lighter; font-size: small; color: black">{{ card.accountNumber }}</ion-card-subtitle>
              </ion-card-header>
            </ion-item>

            <ion-item-options side="start">
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
              <ion-item-option color="primary">Favorite</ion-item-option>
            </ion-item-options>
        
            <ion-item-options side="end">
              <ion-ripple-effect type="unbounded"></ion-ripple-effect>
              <ion-item-option color="danger" (click)="deleteCard(card.accountNumber)">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-card>
    </div>
  </div>

</ion-content>
  