
<ion-header>
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list> 
    <ion-item button>
      <ion-ripple-effect></ion-ripple-effect>
      <ion-avatar slot="start" class="avatar_background">
        <h5 class="avatar_content">PJ</h5>
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-text color="dark">
    <h5>No transactions recorded yet</h5>
  </ion-text> -->
  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small">
      <ion-icon name="add" color="light"></ion-icon> 
    </ion-fab-button>
  </ion-fab>

</ion-content>
