<ion-header>

  <ion-toolbar>

    <ion-item href="/profile" slot="start" button="true" detail="false" lines="none">
      <ion-avatar>
        <img src="/assets/images/male.png">
      </ion-avatar>
    </ion-item>

    <ion-buttons slot="end">
      <ion-button href="/settings">
        <ion-icon slot="icon-only" name="cog" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button size="small" color="danger">
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
