
.header_item {
    --background: rgba(255, 0, 0, 0.333);
}

ion-tab-bar {
    --background: #ffffff;
    --border-radius: 50px;
    --color: #000000;
}

ion-tab-button {
    --color-selected: #b93b32;
    --ripple-color: #8a3903;
}

ion-badge {
    --background: #df1414;
}